
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: url('bg1.jpg') no-repeat center center;
    background-size: cover;
}


nav {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
}

nav a:hover {
    color: #838485e7;
}


header {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.container {
    padding: 1rem;
}

h1,
h2,
h3 {
    color: #333;
}

.project {
    margin-bottom: 1.5rem;
}

.project h3 {
    margin-bottom: 0.5rem;
}


footer {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}


@media (max-width: 1200px) {

    body {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    h1,
    h2,
    h3 {
        font-size: 1.8rem;
    }
}

@media (max-width: 992px) {

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {

    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    header nav ul {
        text-align: center;
    }

    section {
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {

    body {
        font-size: 1rem;
        line-height: 1.2;
    }

    h1,
    h2,
    h3 {
        font-size: 1.4rem;
    }
}


.mail-icon {
    fill: #4285f4;
    stroke: #4285f4;
    transition: fill 0.2s, stroke 0.2s;
    width: 24px;
    height: 18px;
    position: relative;
    top: 3px;
}

.mail-icon:hover {
    fill: #8a8b8f;
    stroke: #3367d6;
}

.linkedin-icon {
    fill: #0077b5;
    stroke: #0077b5;
    transition: fill 0.2s, stroke 0.2s;
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
}

.linkedin-icon:hover {
    fill: #005a9c;
    stroke: #005a9c;
}

.contact a {
    display: inline-block;
    margin-right: 10px;
}

.contact svg {
    vertical-align: middle;
}

.wrapper {
    overflow-y: auto;
    height: 100vh;
}